.input-block {
  background: var(--tg-theme-bg-color);
  padding: 0 20px;
}

.input-mask {
  height: 50px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  outline: none;
}
