@import 'variables.module.scss';

.main {
  background: $-prime-color;
  height: 100%;
  text-align: center;
  color: $-text-color;
  padding: 20px;
}

.img img {
  width: 100%;
  height: auto;
}

.block {
  text-align: left;
}

.text {
  font-family: "GTEestiPro",arial,sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $-text-color;
  margin-top: 20px;
}

.description {
  margin-top: 20px;
}

.pay {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 20px;
}

.price {
  font-family: "GTEestiPro",arial,sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: $-text-color;
  align-self: center;
}

.button {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    color: $-dark-color;
  }
}

.button__cart {
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
}

.button__active {
  background: $-button-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}

.button__icon {
  width: 20px;
  height: 20px;
  fill: var(--tg-theme-button-text-color);
  margin-right: 10px;
}

