@import 'variables.module.scss';

.main {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-start-end-radius: 5px;
  border-start-start-radius: 5px;
  border-top: 1px solid $-text-color;
  z-index: 2;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: $-prime-color;

}

.link {
  text-align: center;
  text-decoration: none;
  color: var(--tg-theme-text-color);
}

.svg {
  width: 16px;
  height: 16px;


  &__delivery {
    width: 16px;
    height: 16px;
  }
}

.name {
  margin: 3px 0 0;
  font-size: 12px;
  color: var(--tg-theme-text-color);
}

.icon {
  position: relative;

  &__total-block {
    position: absolute;
    top: -10px;
    left: 22px;
    width: 14px;
    height: 14px;
    border: 2px solid var(--tg-theme-text-color);
    border-radius: 50%;
    padding: 1px;
  }

  &__total-count {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    color: var(--tg-theme-text-color);
  }
}